[project]
name = "steely"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Max Seeliger", email = "maximilian.seeliger@gmail.com" }
]
requires-python = ">=3.12"
dependencies = [
    "accelerate>=1.6.0",
    "datasets>=3.5.0",
    "ipykernel>=6.29.5",
    "matplotlib>=3.10.1",
    "nltk>=3.9.1",
    "numpy>=2.2.4",
    "polars>=1.26.0",
    "scikit-learn>=1.6.1",
    "spacy>=3.8.5",
    "torch>=2.6.0",
    "transformers>=4.50.3",
]

[project.scripts]
steely = "steely:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
